body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}

header {
    text-align: center;
    background-color: grey;
    color: white;
    margin: 0;
    padding: 15px;   
}

 table, th, td {
    border: 1px solid;
    margin: 0;
    border-collapse: collapse;
  }

  th {
    background-color: lightgrey;
    width:130px;
  }

  .table {
    margin: 10px;
    width: 1300px; 
  }

.labelInput {
    float: left;
    margin: 5px;
    
}

.inputContainer {
    width: 1300px;
}

.btn { 
    /* border: none;   */
    background-color: cornflowerblue;
}
    

.addEmployeeForm { 
    margin:10px;
}
.btn{
    border-radius: 20px;
}
.btnContainer {
    /* position: relative; */
}

